*{
    padding:0;
    margin:0;
    box-sizing:border;
    font-family:'Poppins',sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}



  /*                                                   Home page */
 .homebody{
    background-color: #191919;
 }

.banner{
    width:100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner video{
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.content{
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(1, 0, 5, 0.3),rgba(4, 1, 17, 0.3));
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}

.navbar{
    display: flex;
    margin-right: 4vh;
}

.navbar a{
    color: white;
    font-size: 18px;
    padding: 10px 22px;
    border-radius: 4px;
    font-weight: 500;   
    text-decoration: none;
    transition: ease 0.40s;
}

.navbar a:hover,.navbar a.active{
    background: white;
    color: black;
    box-shadow: 5px 10px 30px rgb(85 85 85 / 20%);
    border-radius: 5px;
    
}

nav ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 17px;
}

.title{
    text-decoration: none;
    font-size: 4vh;
    color: rgb(255, 255, 255);
    padding: 14px 17px;
    margin-top: 32vh;
    text-align: center;
    vertical-align: center;
}

.title h1{
    font-size: 10vh;
    text-shadow: 2px black;
    transition: ease 0.3s;
}

.title h1:hover{
    color:transparent;
    -webkit-text-stroke: 1px white;
    
}

.button{
    display: inline-block;
    margin-top:5vh;
    font-size: 25px;
    padding: 10px 30px;
    color: rgb(21, 74, 74);
   
    background-color: white;
    border-radius: 20px;
    text-decoration: none;
    transition: ease 0.30s;
}

.button:hover{
    transform: scale(1.1);
    color: white;
    background-color: rgb(21, 74, 74);
    
    box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.4);
    padding: 10px 30px;
}


 
                                                    /*Header*/

nav {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    background-color: #191919; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
    z-index: 1000;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    height: 70px;
}

nav .logo {
    height: 50px;
}

.navbar {
    list-style: none;
    display: flex;
    margin-left: auto;
}

.navbar li {
    margin-left: 20px;
}

.navbar a {
    text-decoration: none;
    color: #fff; 
    font-size: 16px;
    font-weight: bold; 
}




                                                    /* Footer */

.footer{
    margin-top: 80px;
    background-color: #191919;
}

.foot{
    padding: 20px 0;
}

.footer-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.footlinks h4{
    margin-top: 30px;
    font-size: 20px;
    font-weight: 600;
    color: white;
    margin-bottom: 30px;
    position: relative;
}


.footlinks h4::before{
    content: "";
    position: absolute;
    height: 2px;
    width: 70px;
    left: 0;
    bottom: -7px;
    background: white;
}

.footlinks ul li{
    margin-bottom: 15px;
}

.footlinks ul li a{
    font-size: 17px;
    color: #dddddd;
    display: block;
    transition: ease 0.30s;
}

.footlinks ul li a:hover{
    transform: translate(6px);
    color: white;
}

.social a{
    font-size: 25px;
    margin: 4px;
    height: 40px;
    width: 40px;
    color: rgb(21, 74, 74);
    background-color: white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    transition: ease 0.30s;
}

.social a:hover{
    transform: scale(1.2);
}

.end{
    text-align: center;
    padding-top: 60px;
    padding-bottom: 12px;
}

.end p{
    font-size: 15px;
    color: white;
    letter-spacing: 1px;
    font-weight: 300;
}



 
/*                                admin                    */ 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  .login{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color:black;
    background-size: cover;
    background-position: center;
  }
  .wrapper{
    
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(9px);
    color: #fff;
    border-radius: 12px;
    padding: 30px 40px;
  }
  .wrapper h1{
    font-size: 36px;
    text-align: center;
  }
  .wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
  
    margin: 30px 0;
  }
  .input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
  }
  .input-box input::placeholder{
    color: #fff;
  }
  .input-box i{
    position: absolute;
    right: 20px;
    top: 30%;
    transform: translate(-50%);
    font-size: 20px;
  
  }
  .wrapper .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
  }
  .remember-forgot label input{
    accent-color: #fff;
    margin-right: 3px;
  
  }
  .remember-forgot a{
    color: #fff;
    text-decoration: none;
  
  }
  .remember-forgot a:hover{
    text-decoration: underline;
  }
  .wrapper .btn{
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
  }
  .wrapper .register-link{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
  
  }
  .register-link p a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
  }
  .register-link p a:hover{
    text-decoration: underline;
  }
 

  .banner-main-sec{
  background-image: url(../img/banner-img.jpeg);
  padding: 300px 0; 
  background-size: cover;
  object-fit: cover;
}
.banner-imnner-text h1 {
  color: white;
  text-align: center;
  font-size: 60px;
  font-weight: 100;
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 34%;
  transform: translateX(-50px);
}


.img-main-sec{
  position: relative;
  background-color: #fff;
}
.img-main-sec .container-fluid{
  padding: 10px 20px ;
}
.photo-img-area img{
  height: 100%;
  width: 100%;
}
.img-inner-area .col-md-3{
  padding: 1px;
  margin: 0;
  cursor: pointer;
  position: relative;
}
.product-imt{
  color: white;
  font-size: 25px;
  text-decoration: none;
  font-weight: bold;
}

.product-imt:hover{
  color: white;
}
.photo-img-text-price {
  position: absolute;
  top: 50%;
  text-align: center;
  transform: translateY(-30px);
}
.photo-img-price p{
  font-size: 20px;
  color: white;
  font-weight: 100;
}
.photo-img-text-price{
  opacity: 0;
}

.img-text-area:hover .photo-img-text-price{
  opacity: 1;
  transition: ease-in-out 0.5s;
}

.photo-img-text {
  position: relative;
  left: 45px;
}
.photo-img-price {
  position: relative;
  left: 130px;
  max-width: max-content;
}
.photo-img-area{
  height: 100%;
  width: 100%;
}
.photo-img-area img {
  max-width: max-content;
  height: 100%;
  width: 100%;
}